
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainAdmin.cshtml";
    var user = (List<Tarot.Model.EF.User>)ViewBag.User;
    var order = (List<Tarot.Model.EF.Order>)ViewBag.Order;
    var detail = (List<Tarot.Model.EF.OrderDetail>)ViewBag.Detail;
    int? sl = 0;
    decimal? total = 0;
}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2>@String.Format("{0:n0}", user.Count())</h2>
                                    <span>Thành Viên</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                                <div class="text">
                                    @foreach (var item in detail)
                                    {
                                        sl += item.Quantity;
                                        total += item.Quantity * item.Price;
                                    }
                                    <h2>@String.Format("{0:n0}", sl)</h2>
                                    <span>Sản Phẩm Đã Bán</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                                <div class="text">
                                    <h2>@String.Format("{0:n0}", order.Count())</h2>
                                    <span>Đơn Hàng Đã Giao</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                                <div class="text">
                                    <h2>@String.Format("{0:n0}",total)&nbsp;₫</h2>
                                    <span>Tổng Doanh Thu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
