USE [Tarot]
GO
/****** Object:  Table [dbo].[ContentTag]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentTag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NewID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ContentTag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Content] [ntext] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Feedback_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewCategories]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NewID] [int] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_NewCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [ntext] NULL,
	[NewCategoryID] [int] NOT NULL,
	[Image] [varchar](500) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[ViewCount] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlinePaying]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlinePaying](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Method] [int] NOT NULL,
	[NamePay] [nvarchar](500) NULL,
	[NameAccount] [nvarchar](500) NULL,
	[CodeAccount] [varchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[Image] [varchar](500) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_OnlinePaying] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](500) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PublisherID] [int] NOT NULL,
	[ProductName] [nvarchar](500) NULL,
	[Description] [ntext] NULL,
	[Detail] [nvarchar](max) NULL,
	[QuantitySold] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[PromotionPrice] [decimal](18, 0) NULL,
	[Price] [decimal](18, 0) NULL,
	[TopHot] [bit] NOT NULL,
	[ViewCount] [int] NULL,
	[LikeCount] [int] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[NameTag] [nvarchar](500) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ProductTags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](500) NULL,
	[CategoryID] [int] NOT NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegisterStudent]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterStudent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_RegisterStudent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameStore] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[TimeOpen] [nvarchar](500) NULL,
	[Phone] [varchar](50) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameTag] [nvarchar](500) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/10/2021 12:33:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([ID], [Name], [Email], [Phone], [Content], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'Nguyễn Việt Nam', N'nam68@gmail.com', N'0906082000', N'Sản phẩm của các bạn rất tuyệt vời!', NULL, NULL, 0)
INSERT [dbo].[Feedback] ([ID], [Name], [Email], [Phone], [Content], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'Triệu Lệ Dĩnh', N'ledinh@gmail.com', N'0999998888', N'Sản phẩm đẹp, tôi rất thích phong cách làm việc và sản phẩm của các bạn!', NULL, NULL, 0)
INSERT [dbo].[Feedback] ([ID], [Name], [Email], [Phone], [Content], [CreatedDate], [CreatedBy], [Status]) VALUES (4, N'Dương Mịch', N'duongmich@gmail.com', N'0933336666', N'Sản phẩm đẹp như hình ảnh, nhưng giao hàng hơi chậm!
', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[NewCategories] ON 

INSERT [dbo].[NewCategories] ([ID], [Name], [NewID], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N' Tìm hiểu về Tarot', 1, NULL, NULL, 1)
INSERT [dbo].[NewCategories] ([ID], [Name], [NewID], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N' Cảm Nhận Về Bộ Bài', 1, NULL, NULL, 1)
INSERT [dbo].[NewCategories] ([ID], [Name], [NewID], [CreatedDate], [CreatedBy], [Status]) VALUES (4, N' Spread Trải Bài', 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[NewCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([ID], [Title], [Content], [NewCategoryID], [Image], [CreatedDate], [CreatedBy], [ViewCount], [Status]) VALUES (3, N'Ứng Dụng Đọc Sách Hướng Dẫn Tarot Trên Di Động', N'Ứng dụng đọc sách hướng dẫn Tarot trên hệ điều hành iOS Ứng dụng đọc sách hướng dẫn Tarot trên hệ điều hành Android  ', 2, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[OnlinePaying] ON 

INSERT [dbo].[OnlinePaying] ([ID], [Method], [NamePay], [NameAccount], [CodeAccount], [Address], [Image], [CreatedDate], [CreatedBy], [Status]) VALUES (1, 2, N'Ngân hàng Ngoại thương Việt Nam – VIETCOMBANK', N'Vũ Mạnh Đức', N'0333 205 999 444', N'Vietcombank Thăng Long', N'/DataImage/images/OnlinePaying/bank_vcb.png', CAST(N'2021-05-06' AS Date), NULL, 1)
INSERT [dbo].[OnlinePaying] ([ID], [Method], [NamePay], [NameAccount], [CodeAccount], [Address], [Image], [CreatedDate], [CreatedBy], [Status]) VALUES (2, 2, N'Ngân hàng Kỹ Thương Việt Nam – TECHCOMBANK', N'Vũ Mạnh Đức', N'900 111 15818 999', N'Techcombank Ngọc Khánh', N'/DataImage/images/OnlinePaying/bank_tcb.png', NULL, NULL, 1)
INSERT [dbo].[OnlinePaying] ([ID], [Method], [NamePay], [NameAccount], [CodeAccount], [Address], [Image], [CreatedDate], [CreatedBy], [Status]) VALUES (3, 2, N'Ngân hàng Á Châu – ACB', N'Nguyễn Văn Khánh', N'7999 9999', N'PGD Định Công', N'/DataImage/images/OnlinePaying/bank_acb.png', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[OnlinePaying] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([ID], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (1, N'Thanh Toán Trực Tiếp ', CAST(N'2021-05-06' AS Date), NULL, 1)
INSERT [dbo].[PaymentMethod] ([ID], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'ATM Banking', NULL, NULL, 1)
INSERT [dbo].[PaymentMethod] ([ID], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'Ví Điện Tử Momo', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([ID], [CategoryName], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'Bài Tarot ', CAST(N'2021-05-09' AS Date), NULL, 1)
INSERT [dbo].[ProductCategories] ([ID], [CategoryName], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'Bài Lenormand', NULL, NULL, 1)
INSERT [dbo].[ProductCategories] ([ID], [CategoryName], [CreatedDate], [CreatedBy], [Status]) VALUES (4, N'Bài Oracle', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTags] ON 

INSERT [dbo].[ProductTags] ([ID], [ProductID], [TypeID], [NameTag], [CreatedDate], [CreatedBy], [Status]) VALUES (2, 37, 6, N'Manga & Comic,', NULL, NULL, 1)
INSERT [dbo].[ProductTags] ([ID], [ProductID], [TypeID], [NameTag], [CreatedDate], [CreatedBy], [Status]) VALUES (3, 35, 2, N'Bài Hiếm', NULL, NULL, 1)
INSERT [dbo].[ProductTags] ([ID], [ProductID], [TypeID], [NameTag], [CreatedDate], [CreatedBy], [Status]) VALUES (4, 35, 5, N'Bài Có Mạ Cạnh', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductTags] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ID], [TypeName], [CategoryID], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'Bài Hiếm', 2, NULL, NULL, 1)
INSERT [dbo].[ProductTypes] ([ID], [TypeName], [CategoryID], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'Bài Mini', 2, NULL, NULL, 1)
INSERT [dbo].[ProductTypes] ([ID], [TypeName], [CategoryID], [CreatedDate], [CreatedBy], [Status]) VALUES (4, N'Văn Hóa & Nghệ Thuật', 2, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([ID], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (1, N'NXB Hay House', NULL, NULL, 1)
INSERT [dbo].[Publisher] ([ID], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'NXB Blue Angel', NULL, NULL, 1)
INSERT [dbo].[Publisher] ([ID], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'NXB Schiffer', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[Stores] ON 

INSERT [dbo].[Stores] ([ID], [NameStore], [Address], [TimeOpen], [Phone], [CreatedDate], [CreatedBy], [Status]) VALUES (1, N'Cửa hàng chính', N'SỐ 32 NGÁCH 31 NGÕ 14 PHÁO ĐÀI LÁNG LÁNG THƯỢNG, ĐỐNG ĐA, HÀ NỘI', N'09:30 – 20:00', N'0977.070.151 / 0937.313.998', CAST(N'2021-05-06' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Stores] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([ID], [NameTag], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'bai tarot', NULL, NULL, 1)
INSERT [dbo].[Tags] ([ID], [NameTag], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'boi bai tarot', NULL, NULL, 1)
INSERT [dbo].[Tags] ([ID], [NameTag], [CreatedDate], [CreatedBy], [Status]) VALUES (4, N'bài tarot cổ', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserName], [Password], [Name], [Gender], [Address], [Email], [Phone], [CreatedDate], [CreatedBy], [Status]) VALUES (1, N'admin', N'202cb962ac59075b964b07152d234b70', NULL, 1, NULL, N'admin181200084@gmail.com', N'0999885568', CAST(N'2021-04-30' AS Date), NULL, 1)
INSERT [dbo].[Users] ([ID], [UserName], [Password], [Name], [Gender], [Address], [Email], [Phone], [CreatedDate], [CreatedBy], [Status]) VALUES (8, N'namnguyen68', N'202cb962ac59075b964b07152d234b70', N'Nguyễn Việt Nam', 1, N'Bạch Mai, Hai Bà Trưng, Hà Nội', N'nam68@gmail.com', N'0998877885', CAST(N'2021-04-30' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  CONSTRAINT [DF_PaymentMethod_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  CONSTRAINT [DF_ProductCategories_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Publisher] ADD  CONSTRAINT [DF_Publisher_Status_1]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Tags] ADD  CONSTRAINT [DF_Tags_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ContentTag]  WITH CHECK ADD  CONSTRAINT [FK_ContentTag_News] FOREIGN KEY([NewID])
REFERENCES [dbo].[News] ([ID])
GO
ALTER TABLE [dbo].[ContentTag] CHECK CONSTRAINT [FK_ContentTag_News]
GO
ALTER TABLE [dbo].[ContentTag]  WITH CHECK ADD  CONSTRAINT [FK_ContentTag_Tags] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
GO
ALTER TABLE [dbo].[ContentTag] CHECK CONSTRAINT [FK_ContentTag_Tags]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_NewCategories] FOREIGN KEY([NewCategoryID])
REFERENCES [dbo].[NewCategories] ([ID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_NewCategories]
GO
ALTER TABLE [dbo].[OnlinePaying]  WITH CHECK ADD  CONSTRAINT [FK_OnlinePaying_PaymentMethod] FOREIGN KEY([Method])
REFERENCES [dbo].[PaymentMethod] ([ID])
GO
ALTER TABLE [dbo].[OnlinePaying] CHECK CONSTRAINT [FK_OnlinePaying_PaymentMethod]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Publisher] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publisher] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Publisher]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_ProductTags_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_ProductTags_Products]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_ProductTags_ProductTypes] FOREIGN KEY([TypeID])
REFERENCES [dbo].[ProductTypes] ([ID])
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_ProductTags_ProductTypes]
GO
ALTER TABLE [dbo].[ProductTypes]  WITH CHECK ADD  CONSTRAINT [FK_ProductTypes_ProductCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([ID])
GO
ALTER TABLE [dbo].[ProductTypes] CHECK CONSTRAINT [FK_ProductTypes_ProductCategories]
GO
