
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success">
    <span>CẢM ƠN BẠN ĐÃ ĐẶT HÀNG CỦA SHOP CHÚNG TÔI. VUI LÒNG KIỂM TRA EMAIL ĐỂ THEO DÕI ĐƠN HÀNG</span>
</div>

