@model List<Tarot.Model.EF.NewCategory>
<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        var url = "/yn-tarot/" + item.ID;
        <li><a href="@url">@item.Name</a></li>
    }
</ul>
