<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/DataImage/ImageHome/Icon/mystichouse.png" class="logo"/>
                </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu" style="font-family: SANS-SERIF;">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">TRANG CHỦ</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">GIỚI THIỆU VỀ TAROT</a></li>
                    <li class="dropdown megamenu-fw">
                        <a href="@Url.Action("Index","Product")" class="nav-link dropdown-toggle ">SẢN PHẨM</a>
                        @{Html.RenderAction("ProductCategory", "Home"); }
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">KIẾN THỨC TAROT</a>
                        @{Html.RenderAction("KTTarot", "Home"); }
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Ý NGHĨA 78 LÁ BÀI TAROT</a>
                        @{Html.RenderAction("YNTarot", "Home");}
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index","Contact")" class="nav-link dropdown-toggle" data-toggle="dropdown">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        @{ Html.RenderAction("HeaderCart", "Home");}
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>
